
#formulario{
	padding-top: 1%;
	width:65%;
}
input#disabledTextInput.form-control{
background-color:white;
}
#preview {
    background-color:#fff;

    margin-left:15%;
	height:200px;
    width:200px;
	border:yellowgreen solid;
}
input#image_file{
	padding-top:2%;
}
body{
	background-color:#F3F6E9 ;
}
button.btn.btn-default{
	margin-top:3%;
	background-color:yellowgreen;
}
section#cabecera{
	font-family:"PT Sans"
}
